<a href="https://colab.research.google.com/github/Breakrule/Python-Project/blob/main/16102065_RezkyMaulana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Latihan string

print("Hello Institute Teknologi telkom Purwokerto")
print("Ya... aku padamu")
print("Saya sedang belajar Python.")
print("semangaaaat.")
print('Hore... Nongol.')
print("Bagaikan Pepatah 'Seperti air didaun keladu'.")
print('Kata terindah "Ketika Kutatap matamu, kutemukan kesejukan disana," Gombaaal....')

In [ ]:
#Komentar

# ini adalah sebuah komentar
print ("Seharusnya kamu tau, ketika aku berkomentar disini, tapi sayang ngga keliatan :(") # ini komentarnya

print ("ini tanpa komentar")

In [ ]:
#Angka dan matematika
#
# +: plus
# -: minus
# /: slash
#: asterisk
# %: percent
# <: less-than
# >: greater-than
# <=: less-than-equal
# >=: greater-than-equal

print("Saya akan menhitung jumlah ayam:")
print("Betina", 25 + 30 / 6)
print("Jantan", 100 - 25 * 3 % 4)
print("Lalu Menghitung Jumlah Telurnya:")
print(3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6)
print("Apakah benar bahwa 3 + 2 < 5 - 7?")
print(3 + 2 < 5 - 7)
print("Berapa  3 + 2?", 3 + 2)
print("Berapa  5 - 7?", 5 - 7)

print("Besar dari ", 5 > -2)
print("Apakah besar dari atau sama dengan? ", 5 >= -2)
print("apakah kecil dari atau sama dengan?", 5 <= -2)

In [ ]:
#Variabel dan Names
panjang = 100
lebar = 80
luas = panjang * lebar

print ("Ukuran panjang", panjang)
print ("Ukuran Lebar", lebar)
print ("Ukuran Luas", luas )

In [ ]:
#Printing

print("Saya lagi belajar printing.")

print("." * 13) # coba tebak ini ngapain ?
end1 = "a"
end2 = "p"
end3 = "r"
end4 = "i"
end5 = "j"
end6 = "u"
end7 = "n"
end8 = "a"
end9 = "i"
end10 = "d"
end11 = "i"
# watch end = ' ' at the end. try removing it to see what happens
print(end1 + end2 + end3 + end4, end=' ')
print(end5 + end6 + end7 + end8 + end9 + end10 + end11)

In [ ]:
#input

umur = input("Berapa umurmu? ")
tinggi = input("Tingginya berapa ? ")
berat = input("beratnya berapa ? ")
mantan = input ("Nama Mantan ")
print(f"Kamu berumur {umur} tahun, tinggimu {tinggi} dan beratmu  {berat}.")

print ("Mantan ", mantan)

In [ ]:
#IF

#if (kondisi):
#    aksi

x = 1
if x > 0:
    print("Nilai %x adalah besar dari 0" % x )

In [ ]:
x = 1
if x > 2:
    print("Nilai %x adalah besar dari 0" % x )
    
#Jika kita jalankan kode diatas maka python tidak akan menampilkan output apapun, karena sudah jelas bahwa kondisi diatas adalah bernilai false / salah.

In [ ]:
#if else
x = 1
if x > 5:
    print("Nilai %d adalah besar dari 5" % x )
else :
    print("Nilai %d adalah kecil dari 5" % x)
 
# Nilai 1 adalah kecil dari 5

In [ ]:
x = 10
if x > 5:
	print("Nilai %d adalah besar dari 5" % x )
else :
	print("Nilai %d adalah kecil dari 5" % x)

In [ ]:
#Chained Conditionals

x = 5
if x < 5:
	print("Nilai %d adalah kecil dari 5" % x )
elif x == 5 :
	print("Nilai %d adalah sama dengan 5" % x)
else :
	print("Nilai %d adalah besar dari 5" % x)

In [ ]:
umur = 37
if umur > 18 and umur < 30:
    print ("Sudah beranjak dewasa")
elif umur > 30 and umur < 45:
    print ("Masa - masa emas")
elif umur > 45 and umur < 55:
    print ("Memasuki masa paruh baya")
elif umur > 55:
    print ("Masa - masa manula")
else:
    print ("Masih dibawah umur")

In [ ]:
#tugas : masing masing mahasiswa membuat contoh program looping, tambahkan cel dibawah ini:
#Nama : Rezky Maulana
#Nim : 16102065

c1 = ["rez", "ky", "mau"]
c2 = ["lal", "na", "ta"]

for x in c1:
  for y in c2:
    print(x, y)

rez lal
rez na
rez ta
ky lal
ky na
ky ta
mau lal
mau na
mau ta

In [ ]:
import pandas as pd

dataset = pd.read.csv{'tali2017.csv'}

dataset.head()