<a href="https://colab.research.google.com/github/Breakrule/Breakrule/blob/main/SupervisedLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
Nama Kelompok :
1. Erlangga Pratama Putra Pancarani
2. Muhammad Genta Ari Shandi
3. Rezky Maulana
4. Nahdi Duta Ahmad

 **Supervised learning adalah sebuah pendekatan dimana sudah terdapat data yang dilatih, dan terdapat variable berlabel yang ditargetkan sehingga tujuan dari pendekatan ini adalah mengkelompokan suatu data ke data yang sudah ada
sumber: https://datascience.or.id/article/Perbedaan-Supervised-and-Unsupervised-Learning-5a8fa6e6 **

Algoritma yang digunakan didalam supervised learning :
1. Decision Tree
2. Nearest - Neighbor Classifier
3. Artificial Neural Network
4. Support Vector Machine
5. Fuzzy K-Nearest Neighbor

Algoritma yang digunakan didalam kelompok adalah :
1. Support Vector Machine

```

In [ ]:
! rm -r heartdiseasedatasetuci

In [ ]:
! git clone https://github.com/erlanggapratamaP/heartdiseasedatasetuci.git

Cloning into 'heartdiseasedatasetuci'...
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 4 (delta 0), reused 4 (delta 0), pack-reused 0
Unpacking objects: 100% (4/4), done.

In [ ]:
! ls

airqualitydataset  heartdiseasedatasetuci  sample_data

In [ ]:
#import library pandas
import pandas as pd

#panggil function read_csv untuk meload file csv
dataset = pd.read_csv('heartdiseasedatasetuci/heart.csv')

#lihat isi dataset
dataset.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
data = dataset.values
print(data)

[[63.  1.  3. ...  0.  1.  1.]
 [37.  1.  2. ...  0.  2.  1.]
 [41.  0.  1. ...  0.  2.  1.]
 ...
 [68.  1.  0. ...  2.  3.  0.]
 [57.  1.  0. ...  1.  3.  0.]
 [57.  0.  1. ...  1.  2.  0.]]

In [ ]:
X = dataset.drop(['target'], axis=1)
y = dataset['target']

In [ ]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [ ]:
print(X)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]

In [ ]:
# train_size = int(len(data)* 0.80)
# test_size = len(data) - train_size
# train, test = data[0:train_size,:], data[train_size:len(data),:]
# print(len(train), len(test))

# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state=109) # 70% training and 30% test

In [ ]:
from sklearn import svm


clf = svm.SVC(kernel='linear')
clf.fit(X_train, y_train)  

y_pred = clf.predict(X_test)

In [ ]:
from sklearn import metrics

# ACCURACY
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9010989010989011

In [ ]:
print("Precision:",metrics.precision_score(y_test, y_pred))


print("Recall:",metrics.recall_score(y_test, y_pred))

Precision: 0.9038461538461539
Recall: 0.9215686274509803